#### Multiline Statement

In [1]:
a=(1+2+3+
  4+5+6+
  7+8+9)

In [2]:
print(a)

45

In [3]:
colors = ['red','blue',
         'black','green']

In [4]:
print(colors)

['red', 'blue', 'black', 'green']

#### Strings

In [13]:
Value = "Python \
Can Write \
In This Way Too"
print(Value)

Python Can Write In This Way Too

In [2]:
#This line will cause error since only It is considered as string and rest of string as different lines
value='It's Python Class!'

SyntaxError: invalid syntax (2538810625.py, line 2)

In [4]:
#Use Escape Sequence to  rectify the error
value='It\'s Python Classes!'
print(value)

It's Python Classes!

In [5]:
#Using Double Quotation
value="It's Python Classes"
print(value)

It's Python Classes

In [6]:
#Can also use three double quotations instead of single quotes
Value='''Multi
Line 
Statement'''
print(Value)

Multi
Line
Statement

In [8]:
Value = 'Multi \n Line \n Statement'
print(Value)

Multi
 Line
 Statement

<i>Refer Strings.py file in this github for more string operations such as slicing and built-in functions</i>

#### Tuple
Tuple is a set of comma seperated values. The number of variables and the number of values must be equal.

In [2]:
(a,b,c,d)=(1,2,3,4) #This is tuple
print(a)
print(b)
print(c)
print(d)

1
2
3
4

#### Swap two values using Tuple

In [3]:
a=10
b=29
print("Initial value of a",a)
print("Initial value of b",b)
(a,b)=(b,a)
print("Swapped Value of a",a)
print("Swapped value of b",b)

Initial value of a 10
Initial value of b 29
Swapped Value of a 29
Swapped value of b 10

#### Example of Python Indentation

In [8]:
for i in range(1,11):
    print(i)
    if i==5:
        break

1
2
3
4
5

#### Output Formatting

<font size="3">
Syntax : print(*objects,sep='',end='\n', file=sys.stdout, flush=False)
    </font>

In [9]:
print('This will be displayed on the screen')
a=5
print("The value of a is",a)

This will be displayed on the screen
The value of a is 5

<font size="3"> It is noted in the above cell that in line 3, their is space between string and the variable. 
    This is by default, as per syntax. you can see space was added between sep=' ' </font>

#### Explaining the syntax
objects are the value(s) to be printed, * is used to indicate that there may be more than one object. <br>
<i>sep</i> seperator is used b/w values, by default is space. <br>
After all the values are printed, the end is printed by default it is new line. <br>
<b>file</b> is an <i>object</i> which specifies where the objects are to be printed. By default it is the screen (sys.stdout). <br>

In [13]:
print(1,2,3,4)
print(1,2,3,4,sep='*')
print(1,2,3,4,sep='*',end='#')
# sep can be used only for int object(s) not string
# end can be used even in case the object is string

1 2 3 4
1*2*3*4
1*2*3*4#

<b>str.format() method </b> <br>
This method is used to formatting the output to improve the clarity <br>
Can use number (tuple index) to print the output in a specific order.

In [15]:
x=5
y=20
print("The value of x is {} and value of y is {}".format(x,y))

The value of x is 5 and value of y is 20

In [16]:
print("I like {0} and {1}".format('bun','butter'))
#using tupple indexing

I like bun and butter

In [17]:
print('I like {1} and {0}'.format('bun','butter'))

I like butter and bun

In [18]:
#keyword arguments can be used to format the string
print('Hello {name},{greeting}'.format(greeting='Good Morning',name='Python Developer'))

Hello Python Developer,Good Morning

In [21]:
#format string using printf in C using % operator
x=y=32.445567 
print("Value of X = %3.2f" %x)
print("Value of Y = %3.4f" %y)

Value of X = 32.45
Value of Y = 32.4456

### Formatted String Literals

In [25]:
a=1.234
print(f'Hello World {a:.3}')
# Passing an integer after the ':' will cause that field to be a minimum number of characters wide

Hello World 1.23

#### Input function 
<p>
<i> Syntax</i> : input([prompt]) </p>
<p> Prompt is a string. <br> input() always returns a string on to the screen <br> </p>

In [23]:
a=input("Enter any number")
print(a)
print(type(a))

Enter any number2
2
<class 'str'>

In [24]:
a=int(input("Enter a number"))
print(a)
print(type(a))

Enter a number12
12
<class 'int'>

In [26]:
#Arithmetic Operations on Strings

In [29]:
result=int('1+2')

ValueError: invalid literal for int() with base 10: '1+2'

<font size="3"> <b> ValueError</b>: We get such error becuase we are passing a string ' ' to an integer function. <br>
    The value for Integer function should be a integer value only. <br> </font>

In [30]:
result=eval('1+2')

In [31]:
#We get the result as arthamatic even though we are passing a string is due to eval() function
print(result)

3

#### Importing & Operators
<font size="2"> <i>Import</i></font>
<p> We can import any module using 'import' function </p>
<br> <b> OPERATORS </b>
<p> 1. Arithemtic Operators <br> 2. Relational Operators <br> 3.Logical Operators <br> 4. Bitwise Operators <br> 5. Assignment Operators <br> 6.Membership Operators <br> 7. Identity Operators <br> 8. Unary Arithmetic Operators <br> </p>

In [42]:
#METHOD 1
import math
print(math.pi) #printing pi value

3.141592653589793

In [43]:
#METHOD 2
from math import pi
print(pi)

3.141592653589793

In [44]:
#Arithmetic Operators
a=int(input('Enter the value of a:'))
b=int(input('Enter the value of b:'))
print('a+b =',a+b) #Addition
print('a-b=',a-b) #Subtraction
print('a*b=',a*b) #Multiplication
print('a/b=',a/b) #Division
print('a//b=',a//b) #Quotient
print('a%b=',a%b) #Reminder 
print('a**b=',a**b) #Power Of

Enter the value of a:7
Enter the value of b:4
a+b = 11
a-b= 3
a*b= 28
a/b= 1.75
a//b= 1
a%b= 3
a**b= 2401

In [46]:
#Relational Operators
a=int(input('Enter the value for a :'))
b=int(input('Enter the value for b:'))
print('a>b =',a>b)
print('a<b =',a<b)
print('a>=b =',a>=b)
print('a<=b =',a<=b)
print('a==b =',a==b)
print('a!=b =',a!=b)

Enter the value for a :15
Enter the value for b:16
a>b = False
a<b = True
a>=b = False
a<=b = True
a==b = False
a!=b = True

In [47]:
#Logical Operators
x=True
y=False
print('x and y is', x and y) #True if both operands are true
print('x or y is',x or y) #True if either of the operands is true
print('not x is', not x) #true if the operand is false

x and y is False
x or y is True
not x is False

In [51]:
#BitWise Operators
# Used to manipulate the logical operations bit by bit
x=5
y=20
print('x&y is',x&y)
print('x | y is',x|y)
print(20>>5)
print(20<<5)

x&y is 4
x | y is 21
0
640

In [55]:
i = int(input('Enter any number of your choice'))
print('i=',i)
print('i+=5',i+=5)
print('i-=5',i-=5)
print('i*=5',i*=5)
print('i/=5',i/=5)
print('i%=5',i%=5)
print('i//=5',i//=5)
print('i**=5',i**5)
print('i&=5',i&=5)
print('i|=5',i|=5)
print('i^=5',i^=5)
print('i>>=2',i>>=2)
print('i<<=2',i<<=2)

SyntaxError: invalid syntax (3949217784.py, line 3)

<p> The error in the above code, use of assignment operators within print statement </p>

In [69]:
i = int(input('Enter any number of your choice'))
print('i=',i)
i+=5
print('i+=5 =',i)
i-=5
print('i-=5 =',i)
i*=5
print('i*=5 =',i)
i/=5
print('i/=5 =',i)
i%=5
print('i%=5 =',i)
i//=5
print('i//=5 =',i)
i**=5
print('i**5',i)

Enter any number of your choice2
i= 2
i+=5 = 7
i-=5 = 2
i*=5 = 10
i/=5 = 2.0
i%=5 = 2.0
i//=5 = 0.0
i**5 0.0

#### Membership Operators
in : True if x(value/variable) is found in the sequence y <br>
not in : True if x(Value/variable) is not found in the sequence y

In [72]:
x='Python Programming'
y = [1,2,3,4,5]
print('y' in x)
print('P' not in x)
print('P' in x)
print('pro' in x)
print(2 in y)
print(9 not in y)

True
False
True
False
True
True

#### Identity Operators
<p> is : True if the operands x and y are identical <br>
    is not : True if the operands x and y aren't identical </p>

In [73]:
x1=10
y1=10
x2='Python'
y2='python'
print(x1 is y1)
print(x1 is not y1)
print(x2 is y2) #Case Sensitive, string comprasion

True
False
False

#### Unary Operators
<p> +  returns the numeric argument without any change <br>
-  returns the numeric argument with the sign changed </p>

In [74]:
a=10
print(a)
c=-a
print(c)

10
-10

#### Precedence Of Operators
<p> Parentheses have highest precedence <br>
    Exponentiation has the next highest precedence <br>
    Multiplication, Division, Remindar Division, Quotient Division have the same precedence, which is higher than Addition and Subtraction which have same precedence <br>
Operators with same precedence follow associativity rule</p>

In [75]:
a=20
b=10
c=15
d=5
e=0
e=(a+b)*c/d
print('Value of(a+b)*c/d is',e)
e=((a+b)*c)/d
print('Value of ((a+b)*c)/d is',e)
e=(a+b)*(c/d)
print('Value of (a+b)*(c/d) is',e)
e=a+(b*c)/d
print('Value of a+(b*c)/d is',e)
e=d**2**3
print('Value of d**2**3 is',e)

Value of(a+b)*c/d is 90.0
Value of ((a+b)*c)/d is 90.0
Value of (a+b)*(c/d) is 90.0
Value of a+(b*c)/d is 50.0
Value of d**2**3 is 390625

In [80]:
#My Own Module
import fibo

In [82]:
fibo.fib2(100)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [86]:
fibo._name_

AttributeError: module 'fibo' has no attribute '_name_'

#### User-Defined Function
<i>Syntax</i>: def function_name(parameters):<br>
                    """docstring""" <br>
                   statements <br>
                   return #optional <br>

In [97]:
def greet(name):
    """This function greets the person whose name is passed in as parameter"""
    print("Hello "+name+", Good Morning")

In [98]:
greet('Me')

Hello Me, Good Morning

In [101]:
def mul(a,b):
    return(a*b);
def sub(a,b):
    return(a-b)
def calculate():
    a=int(input("Enter the first number:"))
    b=int(input("Enter the second number"))
    result=mul(a,b)
    print(result)
    result=sub(a,b)
    print(result)

In [102]:
calculate()

Enter the first number:12
Enter the second number10
120
2

#### Type Conversion Functions
<p> <i> int() </i>: Convert a string or float into integer. <br>
    <i> float() </i>: Convert a string or integer into float. <br>
    <i>str()</i>: Convert a int,float,tuple or dicitionary into string <br>
    <i>list()</i>: Convert a string, tuple or dictionary into list <br>
    <i>tuple()</i>: Convert list into tuple <br>

#### Math Functions
<p>
    <i>abs(n)</i>: Returns absolute value of number n <br>
    <i>round(n,d)</i>: Returns a number (n) to a number of decimal points (d) <br>
    <i>floor(n)</i>: Rounds down to nearest integer <br>
    <i>ceil(n)</i>: Rounds up to nearest integer <br>
    <i>pow(n,d)</i>: Returns n to the power of d <br>
    <i>sqrt(n)</i>:Returns the square root of number n <br>
    <i>factorial(n)</i>: Returns factorial value of n <br>
    <i>gcd(n,m)</i>: Returns the greatest common divisor <br>
    <i>trunc(x)</i>: Returns the integer value of x and truncates the fraction <br>
    </p>

In [7]:
import math
def cal1(n):
    return (round(n,abs(-2)))
def cal2(n):
    return(math.floor(n))
def cal3(n):
    return(math.sqrt(n))
def cal4(n):
    return(math.factorial(n))

In [8]:
num=float(input("Enter any number between 1-99 with decimals"))
print("Rounded Number:",cal1(num))
print("Rounded down integer:",cal2(num))
print("Square Root Number:",cal3(num))
print("Factorial:",cal4(num))

Enter any number between 1-9945.2145
Rounded Number: 45.21
Rounded down integer: 45
Square Root Number: 6.724172811580619

C:\Users\G.J.Rahul\AppData\Local\Temp\ipykernel_4044\2612081181.py:9: DeprecationWarning: Using factorial() with floats is deprecated
  return(math.factorial(n))

ValueError: factorial() only accepts integral values

#### The Factorial function works only for integral values
<p> Since, we are sending the 'value with decimals' through the function. </p>

#### SOLUTION
<p> Now, we are converting factorial input to int <br>
    There is another way to solve the <b>ValueError</b>: we can convert the value to int while calling the function<br>
    </p>

In [13]:
import math
def cal1(n):
    return (round(n,abs(-2)))
def cal2(n):
    return(math.floor(n))
def cal3(n):
    return(math.sqrt(n))
def cal4(n):
    return(math.factorial(int(n)))

num=float(input("Enter any number between 1-99 with decimals "))
print("Rounded Number:",cal1(num))
print("Rounded down integer:",cal2(num))
print("Square Root Number:",cal3(num))
print("Factorial:",cal4(num))

Enter any number between 1-99 with decimals 5.245
Rounded Number: 5.25
Rounded down integer: 5
Square Root Number: 2.2901964981197573
Factorial: 120

In [2]:
#defining a function to print value twice
def print_twice(num):
    print(num)
    print(num)

In [3]:
#Function Call 1
print_twice(20)

20
20

<p> <b>Note:</b> User can use any kind of expression as argument for print statement </p>

In [5]:
#Function Call 2
print_twice('Hello ' * 2)

Hello Hello
Hello Hello

In [6]:
#Function Call 3
import math
print_twice(math.cos(math.e))

-0.9117339147869651
-0.9117339147869651

In [7]:
print('Value of e :',math.e)

Value of e : 2.718281828459045

<p><b>Note :</b> <i>None</i> is a special value and it has it's own type </p>

In [8]:
print(type(None))

<class 'NoneType'>

### Illustrative Programs

<p>1. Write a Python Program to exchange the value of two variables without using user-defined function </p>

In [10]:
a=int(input('Enter any integer value for a '))
b=int(input('Enter any integer value for b '))
print('Value of a:',a)
print('Value of b:',b)
print('After Swapping')
temp,a,b=a,b,temp
#b=temp
print('Value of a:',a)
print('Value of b:',b)

Enter any integer value for a 12
Enter any integer value for b 11
Value of a: 12
Value of b: 11
After Swapping
Value of a: 11
Value of b: 12

<p>2. Write a Python Program to find the distance between points </p>

In [11]:
import math
x1=int(input('Enter the value for x1: '))
x2=int(input('Enter the value for x2: '))
y1=int(input('Enter the value for y1: '))
y2=int(input('Enter the value for y2: '))
distance=math.sqrt(((x1-y1)**2)+((x2-y2)**2))
print('Distance between two points:%d'%distance)

Enter the value for x1: 12
Enter the value for x2: 13
Enter the value for y1: 14
Enter the value for y2: 15
Distance between two points:2

<p>3. Print the following as output: <br>
     1 <br>
     1 2 <br>
     1 2 3 <br>
     1 2 3 4 <br>
     1 2 3 4 5 <br>
    By taking value from the user </p>

In [14]:
num = int(input('Enter any number for the Python Pattern '))
for i in range(1,num+1):
    for j in range (1,i+1):
        print("",j,end='')
    print()

Enter any number for the Python Pattern 5
 1
 1 2
 1 2 3
 1 2 3 4
 1 2 3 4 5

<p>4. Print the following as output: <br>
     1 <br>
     2 2 <br>
     3 3 3 <br>
     4 4 4 4 <br>
     5 5 5 5 5 <br>
    By taking value from the user </p>

In [16]:
num=int(input('Enter any number for the Python Pattern '))
for i in range(1,num+1):
    for j in range(1,i+1):
        print("",i,end='')
    print()

Enter any number for the Python Pattern 5
 1
 2 2
 3 3 3
 4 4 4 4
 5 5 5 5 5

<p>5. Write a program that calculates the area of a circle with a radius = 10. 
<br>Use an approximate value of pi: pi = 3.14 <br> <br>
    Print the result to the console as shown below.
                                      <br> <b>Expected result:</b> <br>
                                        Area: 314.0
    </p>

In [17]:
from math import pi
short_pi=round(pi,2)
result=short_pi*10**2
print("Area:",result)

Area: 314.0

6. The geometric sequence is given with the following formula:

a = 8 * 2^n-1

Calculate the sum of the first six elements of this sequence. Print the result to the console as shown below.
The sum of the first 6 elements of the sequence is: 504.0

In [1]:
def sequence(n):
    sum=0
    a=(8)*(2**n-1)
    sum=sum+a
    print("The sum of the first 6 elements of the sequence is:",float(sum))
    
sequence(6);

The sum of the first 6 elements of the sequence is: 504.0

7.The arithmetic sequence is given with the following formula:

a=10+4n
Calculate the sum of the first ten elements of this sequence. Print the result to the console as shown below.

<b> Expected result:  </b>
The sum of the first 10 elements in a sequence: 320.0

In [2]:
def calc():
    sum=0
    for i in range(1,10+1):
        a=10+4*i
        sum+=a
    print("The sum of the first 10 elements in a sequence:",float(sum))
    
calc();

The sum of the first 10 elements in a sequence: 320.0