##### Tuples

1. Tuples are datatypes which are immutable.
2. Tuples are within ()
3. Elements in tuples cannot be removed

In [1]:
#Homogenous Tuples
tpl=(1,2,3,4)
print(tpl)
tpl=(1.0,1.2,1.3)
print(tpl)
tpl=('p','y','t','h','o','n')
print(tpl)

(1, 2, 3, 4)
(1.0, 1.2, 1.3)
('p', 'y', 't', 'h', 'o', 'n')

In [2]:
#Heterogenous Tuples
tpl1=(2,4,6,8)
tpl2=('p','y','t','h','o','n')
tpl=tpl1+tpl2
print(tpl)

(2, 4, 6, 8, 'p', 'y', 't', 'h', 'o', 'n')

In [3]:
#Heterogenous Tuples
tpl1=(1,3,5,7)
tpl2=tuple(('python'))
tpl=(tpl1,tpl2)
print(tpl)

((1, 3, 5, 7), ('p', 'y', 't', 'h', 'o', 'n'))

In [4]:
#Unpacking Tuples
tpl=(*tpl1,*tpl2)
print(tpl)

(1, 3, 5, 7, 'p', 'y', 't', 'h', 'o', 'n')

In [5]:
#Try modifying tuple
tpl[0]=3
print(tpl)

TypeError: 'tuple' object does not support item assignment

In [6]:
#Try deleting an element off the tuple
del(tpl[1])
print(tpl)

TypeError: 'tuple' object doesn't support item deletion

#### Therefore tuples are immutable and cannot be altered is proved

In [7]:
#Alternative ways to modify tuple 
#using lists
lst1=[1,2,3,4,5]
tpl1=tuple(lst1)
print("Original Tuple:",tpl1)
print("Replacing 1 with 0 in the tuple using list method")
lst1[0]=0
tpl1=tuple(lst1)
print("Modified Tuple:",tpl1)

Original Tuple: (1, 2, 3, 4, 5)
Replacing 1 with 0 in the tuple using list method
Modified Tuple: (0, 2, 3, 4, 5)

In [8]:
#Tuple can be accessed using indexing
print(tpl1[2])

3

In [9]:
#Adding elements to the tuple
print("Before Adding Element To The Tuple:",tpl1)
tpl=tpl1+(7,8,9)
print("After Adding Element To The Tuple:",tpl)

Before Adding Element To The Tuple: (0, 2, 3, 4, 5)
After Adding Element To The Tuple: (0, 2, 3, 4, 5, 7, 8, 9)

### Built In Functions

In [9]:
tpl1=(11,223,33,4,12,1,2,11,3,1,2,2)
tpl=tpl1.count(2)
print("Total Number of {} Element in the tuple is {}".format(2,tpl))

Total Number of 2 Element in the tuple is 3

In [10]:
tpl=tpl1.index(2)
print("Index of 2 is",tpl)

Index of 2 is 6

In [14]:
print("Before Sorting The Tuple")
print(tpl1)
res=sorted(tpl1)
print("After Sorting The Tuple")
print(res)
print("But this sorted tuple gets converted to list")
#So we need to convert to tuple from list using tuple function

Before Sorting The Tuple
(11, 223, 33, 4, 12, 1, 2, 11, 3, 1, 2, 2)
After Sorting The Tuple
[1, 1, 2, 2, 2, 3, 4, 11, 11, 12, 33, 223]
But this sorted tuple gets converted to list

In [15]:
tpl1=tuple(sorted(tpl1))
print("Sorted Tuple",tpl1)

Sorted Tuple (1, 1, 2, 2, 2, 3, 4, 11, 11, 12, 33, 223)

In [17]:
#Length of the tuple
res=len(tpl1)
print(res)

12

In [18]:
#Maximum Value in a tuple
res=max(tpl1)
print(res)

223

In [19]:
#Minimum Value in a tuple
res=min(tpl1)
print(res)

1

In [20]:
#Udemy Problem: Find the sum of the given tuple
tpl=(12,17,11,21)
res=sum(tpl)
print("Sum",res)

Sum 61