### Sets

1. Sets have unique set of values
2. Doesn't accept repeatitive values
3. Cannot concatinate two sets
4. Sets doesn't follow indexing

In [1]:
#Homogeneous Elements
st={1,2,3,4}
print(st)
stt={'p','y','t','h','o','o','n'}
print(stt)

{1, 2, 3, 4}
{'o', 'y', 'h', 'n', 'p', 't'}

In [2]:
#Heterogeneous Elements
st={1,2,3,'python'}
print(st)

{1, 2, 3, 'python'}

#### Error Statements

1. Cannot change the value of the set, due to it's non-indexing nature

In [3]:
st[0]=5

TypeError: 'set' object does not support item assignment

2. Cannot perform logical operations & concatination of sets

In [4]:
st1={st+stt}
print(st1)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
#Practice Problem
# Make sure to print the LIST after removing the duplicates in it
lst = [ 0, 12, 3 ,4 ,12, 4, 12, 34, 12, 33, 7, 8 , 2, 90, 23, 45, 12, 33]
st=set(lst)
l=list(st)
print(l)

#### Set Functions

In [6]:
#Add function add the element to the set
st1,st2={1,2,3},{4,5,6}
st1.add(7)
print(st1)
print(st2)

{1, 2, 3, 7}
{4, 5, 6}

In [3]:
#remove function removes the element from the set
st1.remove(2)
print(st1)

{1, 3, 7}

In [4]:
#discard function removes the element from the set, but doesn't raise error if the element is not present.
#remove function raises error, if element is not present in the set
st1.discard(2)
print(st1)

{1, 3, 7}

In [8]:
#Concatination of the sets can be performed using update function
#st1=st1.update(st2)
st1.update(st2)
print(st1)

{1, 2, 3, 4, 5, 6, 7}

In [9]:
#clears the set
st1.clear()
print(st1)

In [10]:
st1.update(st2)
print(st1)

{4, 5, 6}

#### Practice Question
##### Perform the following operations on the st set :

st = { 1, 2, 4, 6, 8, 9, 12, 16, 15}
Remove the all the odd numbers from the set

Add the even numbers needed in the set to make it a set of all even numbers less than 20 (except 20)

Print the set

In [ ]:
st = { 1, 2, 4, 6, 8, 9, 12, 16, 15}
st.clear()
for i in range(2,19,2):
    st.add(i)
print(st)

#### Mathematical Operations On Sets

In [11]:
st1,st2={1,5,8,9},{1,3,6,8}

#### Union
Union are joined into new set, they are usually sorted

In [12]:
#Union : Union in a set are joined together into a new set
print(st1 | st2)

{1, 3, 5, 6, 8, 9}

#### Intersection
Similar elements in both the sets

In [13]:
#Intersection
print(st1 & st2)

{8, 1}

#### Difference
[Set1 - Set2] : Set 1 elements that are not present (unique elements of set 1) in Set 2 <br>
[Set 2 - Set 1]  : Set 2 elements that are not present (unique elements of set 2) in Set 1

In [16]:
#Difference
print("[Set 1 - Set 2]")
print(st1-st2)
print("[Set 2 - Set 1]")
print(st2-st1)

[Set 1 - Set 2]
{9, 5}
[Set 2 - Set 1]
{3, 6}

#### Symmetric Difference
The set2 elements are not present in set1 and set1 elements that are not present in set2 <br>
(^) is used to represent symmetric difference

In [18]:
#Symmetric Difference
print(st1^st2)

{3, 5, 6, 9}